################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicTacToe/.vs/TicTacToe/v16/Browse.VC.opendb
